# Base de données
DATABASE_URL=postgresql://hpuser:hppassword123@localhost:5432/healthplatform
MONGODB_URI=mongodb://hpuser:hppassword123@localhost:27017/healthplatform
REDIS_URL=redis://localhost:6379

# Auth
JWT_SECRET=health_platform_super_secret_jwt_2024
JWT_EXPIRES_IN=7d
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=health-platform
KEYCLOAK_CLIENT_ID=health-app

# API
PORT=3000
NODE_ENV=development
API_PREFIX=/api/v1

# Notifications
RESEND_API_KEY=re_XXXXXXXXXXXXXXXX
FCM_SERVER_KEY=XXXXXXXXXXXXXXXX

# IA Service
IA_SERVICE_URL=http://localhost:8000
GROQ_API_KEY=gsk_XXXXXXXXXXXXXXXX